.card.eventpage__card {
  margin: 23px 20%;
}

.card.eventpage__card h5 {
  text-align: center;
  margin-top: 25px;
  padding: 0 13px;
}

.card-image.eventpage__img {
  max-height: 450px;
  overflow: hidden;
}

.sideNavBtn {
  top: 128px;
}

@media screen and (max-width: 1400px){
  .card.eventpage__card {
    margin: 23px 15%;
  }

  .card-image.eventpage__img {
    max-height: 500px;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px){
  .card-content {
    font-size: 13px;
  }

  .card.eventpage__card {
    margin: 0px;
  }

  .card-image.eventpage__img {
    height: 150px;
  }
}
