.card__link {
  color : #000;
}

.card.singlePage__card {
  margin: 23px 20%;
}

.card.singlePage__card h5 {
  text-align: center;
  margin-top: 25px;
  padding: 0 13px;
}

.card-image.singlePage__img {
  max-height: 450px;
  overflow: hidden;
}

.card .card-action {
  text-align: center;
}

p.cityDescription {
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  p.cityDescription {
    padding: 0 305px;
  }
}

@media screen and (max-width: 1400px) {
  .card.singlePage__card {
    margin: 23px 15%;
  }

  .card-image.singlePage__img {
    max-height: 500px;
    overflow: hidden;
  }
}

@media screen and (min-width: 993px) {
  p.cityDescription {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px){
  .card-content {
    font-size: 13px;
  }

  .card-content.singlePage__content {
    min-height: 330px;
  }

  .card.singlePage__card {
    margin: 0px;
    min-height: 100vh;
  }

  .card-image.singlePage__img {
    height: 150px;
  }

  p.cityDescription {
    margin-top: 25px;
  }
}
