@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

header,
main {
  padding-left: 242px;
}

.container {
  width: 85%;
}

body {
  font-size: 20px;
}


nav {
  line-height: 97px;
}

nav.top-nav {
  height: 97px;
  background-color: #55C954;
}

nav.top-nav a.page-title {
  line-height: 97px;
  font-size: 48px;
}

.pageName {
  height: 100%;
}

.pageName h5 {
  border-bottom: 2pt solid #55c954;
  margin-top: 17px;
}

#sidenav-overlay {
  z-index: 1;
}

.side-nav {
    background-color: #272F38;
}

.btn-floating {
  height: 42px;
  width: 42px;
}

.sideNavBtn,
.backButton {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2;
  background-color: #272F38;
  text-transform: none;
}

a.btn.sideNavBtn.top-nav.full.hide-on-large-only {
  background-color: #55c954;
}

.backButton {
  top: 425px;
  left: 280px;
  padding: 3px;
  height: 50px;
  width: 50px;
  background-color: #55c954;
}

.backButton img {
  height: 100%;
  width: 100%;
}


.btn-floating i {
  font-size: 2rem;
  line-height: 42px;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #55c954;
}

.card__link {
  color : #000;
}

.card.singlePage__card {
  margin: 0 0 0 0;
  min-height: 100vh;
}

.card.singlePage__card h5 {
  text-align: center;
  font-size: 50px;
  margin: 50px 0 50px 0;
  padding: 0;
}

.singlePage__card .collection {
  text-align: center;
  border: none;
  font-size: 20px;
  margin-bottom: 50px;
}

.card-image.singlePage__img {
  max-height: 450px;
  overflow: hidden;
  /*box-shadow: 0 5px 8px rgba(0,0,0,.4);*/
}

.card-image.singlePage__img img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
}

.singlePage__card .card-action {
  margin: 0 20%;
  padding-top: 25px;
}

.card-content.singlePage__content{
  padding: 0 20% 25px 20%;
}

.card-content.singlePage__content p {
  white-space: pre-line;
  font-family: Bitter, serif;
  font-size: 20px;
}

.card .card-action {
  text-align: center;
}

.card .card-action a:hover {
  color: #353E49;
  cursor: pointer;
}

p.cityDescription {
  color: #fff;
  text-align: center;
  font-family: Bitter, serif;
}


.side-nav.fixed a {
  color: #fff;
}

.side-nav li:hover, .side-nav li.active {
  background-color: #353E49; }

a.button-collapse.top-nav.full {
  line-height: 97px;
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 5px;
  float: none;
  /*margin-left: 1.5rem;*/
  color: #fff;
  font-size: 32px;
  z-index: 2;
}

.container__title {
  color: white;
}

.card.small{
  height: 230px;
}

.card.medium{
  max-height: 350px;
  height: 100%;
}

.card.medium .card-image {
  max-height: 250px;
  height: 100%;
}

.card.medium .card-content {
  height: 100%;
}

.card .card-title {
  color: #000;
  font-size: 20px;
  white-space: nowrap;
}

.card .card-content {
  font-size: 15px;
  padding-top: 0px;
}

.card .card-action a {
  color: #55c954;
}

#scrollBackBtn {
  background-color: #55C954;
}

/*

    MOBILE STYLES :: BREAKPOINTS

*/

@media only screen and (max-width: 1670px){
  .card .card-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1400px){
  .card {
    font-size: 13px;
  }

  .card-image.singlePage__img {
    max-height: 450px;
    overflow: hidden;
  }

  p.cityDescription {
    font-size: 17px;
    padding: 0;
  }

  .form__row {
    padding : 0 57px;
  }

  .card.singlePage__card h5 {
    font-size: 40px;
  }

  .card-content.singlePage__content {
    padding: 0 5% 25px 5%;
  }

  .card-content.singlePage__content p,
  .card .card-action a {
    font-size: 18px;
  }

  .singlePage__card .card-action {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 992px) {
  header,
  main {
    padding-left: 0px;
  }

  nav .nav-wrapper a.page-title {
    font-size: 30px;
  }

  nav .nav-wrapper {
    text-align: left;
  }

  .backButton {
    left: 13px;
    top: 425px;
    padding: 3px;
    height: 42px;
    width: 42px;
  }

  .card-content.singlePage__content {
    padding: 0 5% 25px 5%;
  }

  .singlePage__card .card-action {
    margin: 0 5% 0 5%;
  }

  .singlePage__card .card-action a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    line-height: 68px;
  }

  nav.top-nav {
    height: 68px;
  }

  nav.top-nav a.page-title {
    line-height: 68px;
  }

  .collection {
    font-size: 15px;
  }

  .sideNavBtn {
    top: 48px;
    right: 5px;
  }

  .pageName h5 {
    font-size: 1.74rem;
  }

  a.button-collapse.top-nav {
    left: 84%;
  }

  .card-content {
    font-size: 13px;
  }

  .card-content.singlePage__content {
    min-height: 330px;
  }

  .card.singlePage__card {
    margin: 0px;
    min-height: 100vh;
  }

  .card-image.singlePage__img {
    max-height: 150px;
  }

  .card.singlePage__card h5 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .singlePage__card .collection {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .card-content.singlePage__content p {
    font-size: 15px;
  }

  p.cityDescription {
    margin-top: 25px;
  }

  .card .card-title {
    font-size: 16px;
  }

  .card.medium{
    max-height: 292px;
    height: 100%;
  }

  .card.medium .card-image,
  .card-image.eventpage__img {
    max-height: 180px;
    overflow: hidden;
  }
}

/*
  Animation Klasses
*/

.card--appear {
  animation: card-appear .3s;
  animation-fill-mode: forwards;
  -webkit-animation: .3s appear forwards;
}

/*
  Animations
*/

@keyframes card-appear {
  0% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes card-appear {
  0%  { opacity: 0.01; }

  50% { opacity : 0.5; }

  100% { opacity: 1.0; }
}

@-moz-keyframes card-appear {
  0%  { opacity: 0.01; }

  50% { opacity : 0.5; }

  100% { opacity: 1.0; }
}


.easeIn-enter {
  opacity: 0.01;
}

.easeIn-enter.frontpage-enter-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.easeIn-appear {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.easeIn-appear.easeIn-appear-active {
  opacity: 1;
}
