@font-face {
  font-family: beastwars;
  src: url('../font/beastwars.ttf');
}

header,
main {
  padding-left: 240px;
}

.container {
  width: 85%;
}

.backgroundFonts {
  position: fixed;
  padding-left: 250px;
  padding-top: 5px;
  height: 100%;
  font-family: beastwars;
  font-size: 3em;
  line-height: 1em;
  opacity: 0.1;
  z-index: -10;
}

nav {
  line-height: 97px;
}

nav.top-nav {
  height: 97px;
  background-color: #55C954;
}

nav.top-nav a.page-title {
  line-height: 97px;
  font-size: 48px;
}

.side-nav {
    background-color: #272F38;
}

.side-nav.fixed a {
  color: #fff;
}

.side-nav li:hover, .side-nav li.active {
  background-color: #353E49; }

a.button-collapse.top-nav.full {
  line-height: 97px;
}

a.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 5px;
  float: none;
  /*margin-left: 1.5rem;*/
  color: #fff;
  font-size: 32px;
  z-index: 2;
}

.card.small{
  height: 230px;
}

.card.medium{
  height: 330px;
}
.card .card-title {
  color: #000;
  font-size: 20px;
  white-space: nowrap;
}
.card .card-content{
  padding-top: 0px
}

@media only screen and (max-width: 1670px){
  .card .card-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1400px){
  .card .card-title {
    font-size: 13px;
  }
}

@media only screen and (min-width: 993px) {
  .container .row {
    margin-left: 0px;
  }
}


@media only screen and (max-width: 992px) {
  header,
  main {
    padding-left: 0px;
  }

  nav .nav-wrapper a.page-title {
    font-size: 30px;
  }

  nav .nav-wrapper {
    text-align: right;
  }
}

@media only screen and (max-width: 600px) {
  a.button-collapse.top-nav {
    left: 1%;
  }

  .card .card-title {
    font-size: 16px;
  }
}
