.organizer__card {
  min-height: 240px;
}

div.card-content.white-text {
  text-align: center;
  line-height: 240px;
  padding: 0;
}

.card .card-title {
  font-size: 32px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .organizer__card {
    min-height: 150px;
  }

  div.card-content.white-text {
    line-height: 150px;
  }

  .card .card-title {
    font-size: 20px;
  }
}

.organizer-appear {
  animation: appear .5s;
  animation-fill-mode: forwards;
}

/*
  Animations
*/
@keyframes appear {
  0% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
